<div class="full-screen">
    <div>
        <input type="file" (change)="onFileChange($event)" multiple="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    </div>
	<div class="card shadow p-4 m-3 overflow-auto" *ngIf="tabs.length">
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let tab of tabs">
              <a class="nav-link" [class.active]="activeTab === tab" (click)="setActiveTab(tab)">{{tab}}</a>
            </li>
          </ul>
          <!-- <div class="tab-content">
             <ng-container *ngFor="let tab of tabs; index as i" >
                <div *ngIf="activeTab === tab" class="tab-pane active">
                    <table class="table">
                        <thead>
                            <tr>
                              <th *ngFor="let val of header">{{val}}</th>
                            </tr>
                          </thead>
                        <tbody>
                        <tr *ngFor="let row of data[i]">
                            <td *ngFor="let item of row">
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please fill info" value="{{item}}" required>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div> 
             </ng-container>
          </div> -->
          <app-uploadform [data]="rawData" [activeTab] ="activeTab"></app-uploadform>
    </div>
</div>
