<div class="full-screen">
    <div>
        <input type="file" (change)="onFileChange($event)" multiple="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    </div>
	<div class="card shadow p-4 m-3" *ngIf="data.length">
        <table class="table">
            <thead>
                <tr>
                  <th *ngFor="let val of header">{{val}}</th>
                </tr>
              </thead>
            <tbody>
            <tr *ngFor="let row of data">
                <!-- <td *ngFor="let val of row">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{val}}">
                </td> -->
                <td>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{row[0]}}">
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
