<div class="card shadow p-5">
  <h1 class="mb-3">Properties</h1>
  <table class="table table-hover table-bordered table-responsive w-100">
    <thead>
      <tr>
        <th
          *ngFor="let header of tableHeaders ? tableHeaders : []"
          (click)="sort(header.field)"
        >
          {{ header?.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of propertyList ? propertyList : []">
        <td (click)="openProperty(property.id)">{{ property?.name }}</td>
        <td (click)="openProperty(property.id)">{{ property?.address1 }}</td>
        <td (click)="openProperty(property.id)">{{ property?.city }}</td>
        <td (click)="openProperty(property.id)">{{ property?.state }}</td>
        <td (click)="openProperty(property.id)">{{ property?.zip }}</td>
        <td>
          <a href="{{ property?.website }}">{{ property?.website }}</a>
        </td>
        <td>
          <i class="bi bi-arrow-up-right-square"></i>
        </td>
        <td class="d-flex justify-content-evenly">
          <i class="bi bi-eye pe-auto" (click)="openProperty(property.id)"></i>
          <i class="bi bi-pencil"></i>
          <i class="bi bi-trash" data-toggle="modal" data-target="#exampleModal"></i>
        </td>
      </tr>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </tbody>
  </table>
</div>

<!-- Delete Confirmation -->
<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Are you sure you want to delete:</h5>
        <p>Property</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>