<div class="full-screen">
    <div class="row">
        <div class="col-2">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Property</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Adding property by Program</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Adding property by Excel</a>
              </nav>
              <a class="nav-link" href="#item-2">Organization</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 2-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 2-2</a>
              </nav>
              <a class="nav-link" href="#item-3">User</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">How to add new user</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Reset account password</a>
              </nav> 
            </nav>
          </nav>
        </div>
      
        <div class="col-10 h-100">
          <h3>How can we help you?</h3>
          <div class="input-group mb-3">
            <i class="bi bi-search input-group-text" id="basic-addon1"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="Search up table"
            />
          </div>
          <h4 class="mb-3">Commonly Asked Questions </h4>
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="overflow-auto" tabindex="0">
            <div id="item-1">
              <h4>Property</h4>
              <p>...</p>
            </div>
            <div id="item-1-1">
              <h5>Item 1-1</h5>
              <p>...</p>
            </div>
            <div id="item-1-2">
              <h5>Item 1-2</h5>
              <p>...</p>
            </div>
            <div id="item-2">
              <h4>Item 2</h4>
              <p>...</p>
            </div>
            <div id="item-3">
              <h4>Item 3</h4>
              <p>...</p>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1</h5>
              <p>...</p>
            </div>
            <div id="item-3-2">
              <h5>Item 3-2</h5>
              <p>...</p>
            </div>
          </div>
        </div>
      </div>
</div>