<div class="full-screen row">
    <div class="card col-12 col-sm-2 my-auto">
        <p class="fs-2">C.A.R.D</p>
        <div class="row g-3 align-items-center">
            <div class="col-3">
            <label for="inputPassword6" class="col-form-label">User Name</label>
            </div>
            <div class="col-9">
            <input type="text" id="user" class="form-control" aria-describedby="username" required>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="inputPassword6" class="col-form-label">Password</label>
            </div>
            <div class="col-9">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-9">
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary" (click)="updateName()">Login</button>
            </div>
        </div>
    </div>
</div>
