<div class="full-screen row">
    <div
      class="card col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 col- 12 my-auto"
    >
      <div class="card-body align-items-center">
        <img
          src="https://th.bing.com/th/id/R.149921039e9b0307183ed9b679efb013?rik=%2fhxf2aiVo%2b3%2b0w&pid=ImgRaw&r=0"
          class="img-thumbnail mx-auto d-block"
          alt=""
        />
        <div class="row g-3 align-items-center">
          <div class="col-3">
            <label for="inputPassword6" class="col-form-label">User Name</label>
          </div>
          <div class="col-9">
            <input
              type="text"
              id="user"
              class="form-control"
              aria-describedby="username"
              required
            />
          </div>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-3">
            <label for="inputPassword6" class="col-form-label">Password</label>
          </div>
          <div class="col-9">
            <input
              type="password"
              id="inputPassword6"
              class="form-control"
              aria-describedby="passwordHelpInline"
              required
            />
          </div>
        </div>
        <div class="row p-2">
          <div class="col-9"></div>
          <div class="col-3">
            <button type="submit" class="btn btn-primary" (click)="updateName()">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
