<nav class="w-100 row align-text-bottom">
  <div class="col-2">
    <img
      src="https://th.bing.com/th/id/R.149921039e9b0307183ed9b679efb013?rik=%2fhxf2aiVo%2b3%2b0w&pid=ImgRaw&r=0"
      class="img-thumbnail"
      alt=""
    />
  </div>
  <div class="col-8 align-items-end">
    <h3>Office of Housing - CARD</h3>
  </div>

  <div class="float-right d-inline-flex col-2">
    <img
      src="https://th.bing.com/th/id/R.967c3e60086c366532dfa8bde04b2521?rik=hu5p%2bKi25aOmGg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fdownload_508630.png&ehk=MXqzP36PsdrYbSf4SNhdxMRKRZ2tjnKAd3kgLsB%2fsns%3d&risl=&pid=ImgRaw&r=0"
      class="profile"
      alt=""
    />
    <p class="profile">Peter Nguyen</p>
  </div>
</nav>
